﻿@model Workshop.ViewModels.IndexViewModel

    @{
        ViewBag.Title = "Index";
    }

    <h2>訂單查詢</h2>
    <div class="container">
        <input type="text" id="SearchOrder" placeholder="訂單編號查詢" class="form-control" />
        <input type="text" id="SearchCus" placeholder="客戶名稱查詢" class="form-control" />
    </div>
    <div id="grid"></div>
    <br />
    <table class="table-bordered table-striped">
        <thead>
            <tr>
                <th>訂單編號</th>
                <th>客戶名稱</th>
                <th>訂貨日期</th>
                <th>發貨日期</th>
                <th>運費</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.IndexOrders)
            {
                <tr class="Searchtr">
                    <td>@item.OrderId</td>
                    <td>@item.CompanyName</td>
                    <td>@item.OrderDate</td>
                    <td>@item.ShippedDate</td>
                    <td>@item.Feight</td>
                    <td><a href="@Url.Action("Edit", "Order", new { id = item.OrderId })">EDIT</a></td>
                    <td><a href="@Url.Action("Delete", "Order", new { id = item.OrderId })">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <button id="button" type="button">新增訂單</button>

    
    <div id="dialog" class="form-horizontal" style="display:none">
        <form id="orderform">
            <p class="title">Add New Order</p>
            <ul id="fieldlist">
                
                <li>
                    <label>
                        Customer:
                        <input id="Customerdropdownlist" name="CustomerId" required />
                    </label>
                </li>
                <li>
                    <label>
                        Employee:
                        <input id="Employeedropdownlist" name="EmployeeId" required />
                    </label>
                </li>
                <li>
                    <label>
                        OrderDate:
                        <input id="OrderDate" type="date" name="OrderDate" required />
                    </label>
                </li>
                <li>
                    <label>
                        RequiredDate:
                        <input id="RequiredDate" type="date" name="RequiredDate" required />
                    </label>
                </li>
                <li>
                    <label>
                        ShippedDate:
                        <input id="ShippedDate" type="date" name="ShippedDate" required />
                    </label>
                </li>
                <li>
                    <label>
                        ShipperId:
                        <input id="ShipperId" type="number" name="ShipperId" min="1" max="100" placeholder="1" />
                    </label>
                </li>
                <li>
                    <label>
                        Feight:
                        <input id="Feight" type="number" name="Feight" placeholder="0.00" step="0.01" />
                    </label>
                </li>
                <li>
                    <label>
                        ShipAddress:
                        <input id="ShipAddress" type="text" name="ShipAddress" />
                    </label>
                </li>
                <li>
                    <label>
                        ShipCity:
                        <input id="ShipCity" type="text" name="ShipCity" />
                    </label>
                </li>
                <li>
                    <label>
                        ShipRegion:
                        <input id="ShipRegion" type="text" name="ShipRegion" />
                    </label>
                </li>
                <li>
                    <label>
                        ShipPostalCode:
                        <input id="ShipPostalCode" type="text" name="ShipPostalCode" />
                    </label>
                </li>
                <li>
                    <label>
                        ShipCountry:
                        <input id="ShipCountry" type="text" name="ShipCountry" />
                    </label>
                </li>
            </ul>
            <button id="CreateOrder" type="submit" class="btn btn-default" formaction="@Url.Action("Create", "Order")" formmethod="post">確認</button>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            function Contains(a, b) {
                if (a.indexOf(b) != -1)
                    return true;
            }
           
            $("#SearchOrder").keyup(function () {
                var searchText = $("#SearchOrder").val().toLowerCase();
                $(".Searchtr").each(function () {
                    if (Contains($(this).children('td').eq(0).text().toLowerCase(), searchText)) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            });
            $("#SearchCus").keyup(function () {
                var searchText = $("#SearchCus").val().toLowerCase();
                $(".Searchtr").each(function () {
                    if (Contains($(this).children('td').eq(1).text().toLowerCase(), searchText)) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            });
        });

        var dialog = $("#dialog").kendoWindow({
            width: 500,
            height: 500,
            title: "新增訂單",
            visible: false
        }).data("kendoWindow");

        var editdialog = $("#editdialog").kendoWindow({
            width: 500,
            height: 500,
            title: "修改訂單",
            visible: false
        }).data("kendoWindow");
        
        $("#grid").kendoGrid({
            columns: [
                { field: "OrderId", title:"訂單編號" },
                { field: "CompanyName", title: "客戶名稱" },
                { field: "OrderDate", format: "{0:yyyy/MM/dd}", title:"訂貨日期" },
                { field: "ShippedDate", format: "{0:yyyy/MM/dd}", title: "發貨日期" },
                { field: "Feight", title: "運費" },
                { template: '<button id="editbutton" type="button" class="k-button k-button-icontext k-grid-edit" >Edit</button>' }
            ],

            pageable: true,
            
            dataSource: {
                schema: {
                    model: { // define the model of the data source. Required for validation and property types.
                        id: "OrderId",
                        fields: {
                            OrderId: { type: "number" },
                            CompanyName: { type: "string" },
                            OrderDate: { type:"Date" },
                            ShippedDate: { type: "Date" },
                            Feight: { type: "number" },
                        }
                    }
                },
                transport: {
                    read: {
                         url: "@Url.Action("GetGrid", "Order")",
                         type: "post",
                         dataType: "json"
                    },
                    update: {
                        url: "@Url.Action("Edit", "Order")",
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (data, operation) {
                        if (operation !== "read" && options.models)
                        {
                            return { models: kendo.stringify(data.models) };
                        }
                        else
                        {
                            return JSON.stringify(data)
                        }
                    }
                },
                pageSize: 10

            }

        });
        ////<button id="button" type="button">
        //function comandTemplate(model) {
        //    return '<button id="editbutton" type="button" class="k-button k-button-icontext k-grid-edit" >Edit</button>';
        //}

        //Create OrderForm Open Button
        $("#button").kendoButton({
            click: function () {
                dialog.center().open();
            }
        });

        $("#editbutton").kendoButton({
            click: function () {
                editdialog.center().open();
            }
        });
        //OrderForm Dropdownlist DataSource
        var customerDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("GetCompanyName", "Order")",
                    type: "post",
                    dataType: "json"
                }
            }
        });
        var employeeDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("GetEmployeeName", "Order")",
                    type: "post",
                    dataType: "json"
                }
            }
        });

        $("#Customerdropdownlist").kendoDropDownList({
            dataSource: customerDataSource,
            dataTextField: "CompanyName",
            dataValueField: "CustomerId"
        });
        $("#Employeedropdownlist").kendoDropDownList({
            dataSource: employeeDataSource,
            dataTextField: "EmployeeName",
            dataValueField: "EmployeeId"
        });
        $("#OrderDate").kendoDatePicker({
            animation: false
        });
        $("#RequiredDate").kendoDatePicker({
            animation: false
        });
        $("#ShippedDate").kendoDatePicker({
            animation: false
        });
        $("#orderform").kendoValidator({
            messages: {

                required: "該欄位不可空白",
                //customRule:"訂單日期不可大於需要日期"
            },
            rules: {
                customRule: function (input) {
                    //only 'Tom' will be valid value for the username input
                    if (input.is("[name=OrderDate]")) {
                        $(input).data('kendoDatePicker').value();
                        $('#RequiredDate').data('kendoDatePicker').value();
                        return Date.parse().valueOf(input.val()) === "20181010";
                    }
                    return true;
                }
            }
        }).data("kendoValidator");

        $("#editform").kendoValidator().data("kendoValidator");
   

    </script>

