﻿<meta charset="utf-8" />
@{
    ViewBag.Title = "訂單查詢頁面";
}

<h2>訂單查詢</h2>

<div id="dialog"></div>

<button id="button" type="button">Edit</button>
<script>
    $("#dialog").kendoWindow({
        visible: false
    });
    var dialog = $("#dialog").data("kendoWindow");
    $("#button").kendoButton({
        click: function (e) {
            dialog.open();
        }
    });
</script>